body {
	display: flex;
    justify-content: center;
    align-content: center;
    font-family: monospace;
    color: #333;
    font-size: 125%;
}
.konami-active {
	background: linear-gradient(270deg, #246655, #dff723);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 4s ease infinite;
	-moz-animation: AnimationName 4s ease infinite;
	animation: AnimationName 4s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:50% 0%}
	    50%{background-position:51% 100%}
	    100%{background-position:50% 0%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:50% 0%}
	    50%{background-position:51% 100%}
	    100%{background-position:50% 0%}
	}
	@keyframes AnimationName { 
	    0%{background-position:50% 0%}
	    50%{background-position:51% 100%}
	    100%{background-position:50% 0%}
	}
}
ol {
	list-style-type: lower-roman;
    list-style-position: outside;
    color: #555;
}
.reorder,
.konami {
	display: none;
}
li:first-letter {
	text-transform: uppercase;
}
aside {
	width: 100%;
    text-align: center;
}